html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

p {
  font-family: 'Montserrat', sans-serif;
}

h1,h2,h3 {
  font-family: 'Dancing Script', cursive;
}

.navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}

.nav-link {
  color: #212529;
}

.landing-page {
  z-index: 0;
}

.section {
  padding-top: 20px;
  padding-bottom: 100px;
  position: relative;
}

.section-narrow {
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
}
